## **UJI HIPOTHESIS 1:**

#### 1. Tagihan kesehatan perokok lebih tinggi daripada tagihan kesehatan non perokok
  
      hipotesis yang akan kita uji adalah:
                              
$$H_0: \mu_{Smoker} \geq \mu_{Non-Smoker}$$
$$H_1: \mu_{Smoker} < \mu_{Non-Smoker}$$

In [1]:
# load data
import pandas as pd
import numpy as np

# visualization
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure

from scipy.stats import t
from scipy.stats import ttest_ind

data = pd.read_csv('insurance.csv')

#sampling 100 data
data = data.sample(100)

In [2]:
#data smoker
sample_smoker = data.loc[data.smoker =="yes"]
sample_smoker

      age     sex     bmi  children smoker     region      charges
1156   19    male  44.880         0    yes  southeast  39722.74620
271    50    male  34.200         2    yes  southwest  42856.83800
84     37  female  34.800         2    yes  southwest  39836.51900
1321   62    male  26.695         0    yes  northeast  28101.33305
1124   23  female  42.750         1    yes  northeast  40904.19950
94     64  female  31.300         2    yes  southwest  47291.05500
607    59  female  23.655         0    yes  northwest  25678.77845
144    30    male  28.690         3    yes  northwest  20745.98910
1288   20    male  39.400         2    yes  southwest  38344.56600
381    55    male  30.685         0    yes  northeast  42303.69215
750    37  female  26.400         0    yes  southeast  19539.24300
818    47  female  26.125         1    yes  northeast  23401.30575
465    30  female  28.380         1    yes  southeast  19521.96820
263    19    male  36.955         0    yes  northwest  36219.40545
793    53    male  20.900         0    yes  southeast  21195.81800
1323   42  female  40.370         2    yes  southeast  43896.37630
1045   43  female  24.700         2    yes  northwest  21880.82000
312    43    male  35.970         3    yes  southeast  42124.51530
741    27    male  29.150         0    yes  southeast  18246.49550
375    23  female  28.310         0    yes  northwest  18033.96790
1033   18    male  21.565         0    yes  northeast  13747.87235

In [3]:
#data non-smoker
sample_nonsmoker = data.loc[data.smoker =="no"]
sample_nonsmoker

      age     sex     bmi  children smoker     region      charges
597    34  female  33.250         1     no  northeast   5594.84550
652    48  female  31.130         0     no  southeast   8280.62270
485    31  female  31.065         0     no  northeast   4347.02335
390    48    male  35.625         4     no  northeast  10736.87075
279    51  female  21.560         1     no  southeast   9855.13140
...   ...     ...     ...       ...    ...        ...          ...
300    36    male  27.550         3     no  northeast   6746.74250
446    60    male  29.640         0     no  northeast  12730.99960
143    29    male  29.735         2     no  northwest  18157.87600
1153   35  female  35.815         1     no  northwest   5630.45785
746    34    male  27.000         2     no  southwest  11737.84884

[79 rows x 7 columns]

In [4]:
#Menghitung varian sample
np.var(sample_smoker.charges), np.var(sample_nonsmoker.charges)

(115478476.67091574, 29676241.427146386)

In [5]:
#perhitungan uji statistik t untuk uji rata rata 2 sampel menggunakan scipy.stats
stat, p = ttest_ind(a = sample_smoker.charges, b = sample_nonsmoker.charges, equal_var=False, alternative='less')

# Interpretasi Hasil
print('Statistics = %.4f, p = %.4f' % (stat, p))

Statistics = 8.8348, p = 1.0000

In [7]:
alpha = 0.05
# Pengambilan Keputusan
if p > alpha:
    print('Gagal tolak H0') 
else:
    print('Tolak H0')

Gagal tolak H0

Dari pengujian hipotesis diatas, kita mengambil kesimpulan bahwa Tagihan kesehatan perokok lebih tinggi daripada tagihan kesehatan non perokok